.company-scope {
	border: 1px dotted black;
	margin:  0px  0px 0px 20px;
	/*display: inline-block;*/

}

.company {
	/*background: pink;*/
	padding: 5px;
	/*display: inline-block;*/
	color: lightgrey;

}

.eE, .name, .addCompany, .delCompany {
	color: white;
}

.eE {
	font-weight: bold;
}

.sEE {
	color: lightgrey;
}

.editName, .changeEE {
	color: black;
}

.hidden {
	display: none;
}
