.company-scope {
	/*border: 1px dotted black;*/
	margin:  0px  0px 0px 20px;
	/*display: inline-block;*/

}

.company {
	/*background: pink;*/
	padding: 5px;
	/*display: inline-block;*/
	color: black; lightgrey;
	border: 1px solid black;

}

.eE, .name, .addCompany, .delCompany {
	color: black; white;
}

.eE {
	font-weight: bold;
}

.sEE {
	color: grey; lightgrey;
}

.editName, .changeEE {
	color: black;
}

.hidden {
	display: none;
}
