.company-scope {
	/*border: 1px dotted black;*/
	margin:  5px  0px 0px 20px;
	/*display: inline-block;*/

}

.company {
	/*background: pink;*/
	padding: 5px;
	/*display: inline-block;*/
	/*color: black; lightgrey;
	/*border: 1px solid black;*/
	margin-bottom: 0px;

}

.company:hover {
	/*font-weight: bold;*/
	border: 1px solid blue;
}

.companyName {
	display: inline-block;
	font-weight: bold;
	margin: 5px;
}

.companyControls {
	float: right;
	margin: 5px;
}

.earningsLabels {
	margin: 5px;
}

.name, .addCompany, .delCompany {
	color: black; /*white;*/
}

.eE {
	color: white; /*white;*/
	/*font-weight: bold;*/
}

.sEE {
	/*color:  lightgrey;*/
}

.editName, .changeEE {
	color: black;
}

.hidden {
	display: none;
}

.highlited {
	background: lightblue;
}
